<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="sb-admin-2.min.css" rel="stylesheet">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous"></script>
<script>
      window.onload = () => {
        if(document.cookie.substr(0,5) == 'token'){
            document.location = '/main'
        };

        var btn = document.getElementById("login-btn");
        btn.onclick = onClickEvent;
        function onClickEvent(){
            var id = document.getElementById("id").value;
            var password = document.getElementById("password").value;

            axios.post('/user/login', {
                id: id,
                password: password
            })
            .then(function (response) {
                document.location = '/main'
            })
            .catch(function (error) {
                console.log(error);
            });
        };
    };
</script>
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome To Hwuse</h1>
                                        </div>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="id" placeholder="아이디">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="password" autocomplete="off" placeholder="비밀번호">
                                            </div>
                                            <div id="login-btn" class="btn btn-primary btn-user btn-block">
                                                Login
                                            </div>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>